.python-environments/
ac-comphist.dat
auto-save-list/
ede-projects.el
el-get/
projectile-bookmarks.eld
projectile.cache
semanticdb/
srecode-map.el
tramp
eshell
recentf
vendor/rtags
vendor/ycmd
elpa
bookmarks
ido.last
.mc-lists.el
*.elc
server/
smex-items
*.desktop
*.desktop.lock
tips.txt
elpy/
.dap-breakpoints
network-security.data
TODO.txt
lisp/my-tests.el
.lsp-session-v1
transient