
[submodule "vendor/flx"]
	path = vendor/flx
	url = https://github.com/lewang/flx.git
[submodule "vendor/zenburn-emacs"]
	path = vendor/zenburn-emacs
	url = https://github.com/bbatsov/zenburn-emacs.git
[submodule "vendor/emacs"]
	path = vendor/emacs
	url = https://github.com/dracula/emacs.git
