*~
tags
tramp
*#*
el-get
org
.org-id-locations
ac-comphist.dat
.emacs.desktop
eshell/
srecode-map.el
semanticdb/*
bookmarks
*.elc
elpa/
irony/
irony-mode/
projectile.cache
projectile-bookmarks.eld
recentf
ido.last
smex-items
